<div class="addon-selector">
  <span class="addon-selector__label">{{label}}</span>
  <input value={{value}}
         oninput={{action (mut value) value="target.value"}}
         class='addon-selector__input'
  />
</div>