<div class="navigation">
  <h3 class="navigation__title"> {{t 'site.inventory'}} </h3>
  <div class="navigation__body">
    {{link-to (t 'site.captions.devices') 'devices' class="navigation__item"}}
    {{link-to (t 'site.captions.deviceControls') 'inventory-transactions.new' class="navigation__item"}}
    {{link-to (t 'site.captions.deviceMovement') 'inventory-transactions.index' class="navigation__item"}}
  </div>
</div>
